autom4te.cache
*~
config.log
config.status
Makefile
src/00-Dictionary/CompileDictionary.sh
src/02-LTSMake/build_lts

src/00-Dictionary/final/
src/00-Dictionary/merged/
src/data/pos/voca.txt
test/*.out
