Source: festival-ca
Section: sound
Priority: optional
Maintainer: Sergio Oller <sergioller@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://gps-tsc.upc.es/veu/festcat/

Package: festival-ca
Architecture: all
Depends: festival (>= 1:2.0.95~beta), ${misc:Depends}
Recommends: festvox-ca-ona-hts | festival-catalan-voice
Description: Catalan language package for festival voices developed at UPC.
 This is a common package for all Catalan voices prepared at
 UPC (Universitat Politècnica de Catalunya). It does not include any voice.
 
