Source: festival-ca
Section: sound
Priority: optional
Maintainer: Sergio Oller <sergioller@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://gps-tsc.upc.es/veu/festcat/

Package: festival-ca
Architecture: all
Depends: festival (>= 1:2.1~release-3), ${misc:Depends}
Recommends: festvox-ca-ona-hts | festival-catalan-voice
Description: Catalan support for Festival speech synthesis system
 This package provides the modules required to synthesize speech in Catalan
 language using the Festival text-to-speech synthesizer. For a given text,
 it uses the festival synthesizer to generate speech in Catalan.
 
 This package does not include any voice as it is a common package 
 for all Catalan voices.
 
 This package was developed at Universitat Politècnica de Catalunya.
